.resultbox {
  color: #F19725;
  border: 1px solid #51D9FF;
  display: inline-block;
  /*padding: 6px;
  width: 400px;
  margin: 12px;*/
}

.resultbox > .title {
  float: left;
  text-decoration: underline
}

.favicon {
  width: 60px;
  height: 60px;
  padding: 7px;
}