header {
  text-align: center;
  margin-top: 50px;
  img {
    max-width: 150px;
  }
  h1 {
    color: $white;
    font-size: 1.2em;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}