.resultbox {
  color: #F19725;
  border: 1px solid #51D9FF;
  display: inline-block;
  width: 80%;
  margin-top: 15px;
  .title {
    float: left;
    text-decoration: underline  
  }
  .favicon {
    width: 60px;
    height: 60px;
    padding: 7px;
  }
}